<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>AgeX - Welcome</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/lex-web-ui.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/lex-web-ui-loader.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/lex-web-ui-loader.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/lex-web-ui.min.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>AgeX</h1>
<div id="container-vertical">
    <div id="container-horizontal">
        <h1 align="center" style="font-size:150px;">AgeX</h1>
        <div id="painel-botoes">
            <div class="botao">
                <div class="icone-botao b1">
                    <i class="glyphicon glyphicon-edit"></i>
                </div>
                <a href = "{{ url_for('aggregator') }}">
                <div class="nome-botao">
                    Find Help / Aggregator
                </div>
                </a>
            </div>
            <div class="botao">
                <div class="icone-botao b2">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </div>
                <a href = "" data-modal="#modal" class="modal__trigger">
                <div class="nome-botao">
                    ChatBot
                </div>
                </a>
            </div>
            <div class="botao">
                <div class="icone-botao b3">
                    <i class="glyphicon glyphicon-usd"></i>
                </div>
                <a href = "{{ url_for('aggregator') }}">
                <div class="nome-botao">
                    Find Companion
                </div>
            </a>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
<div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true">
    <div class="modal__dialog">
        <div class="modal__content">
            <h2>Chatbot</h2>

            <script src="{{ url_for('static',filename='styles/lex-web-ui-loader.js') }}"></script>
            <script>
              /*
                The loader library creates a global object named ChatBotUiLoader
                It includes the IframeLoader constructor
                An instance of IframeLoader has the load function which kicks off
                the load process
              */
        
              // options for the loader constructor
              var loaderOptions = {
                // you can put the chatbot UI config in a JSON file
                configUrl: './chatbot-ui-loader-config.json',
        
                // the full page chatbot UI that will be iframed
                iframeSrcPath: "{{ url_for('static',filename='styles/index.html#/?lexWebUiEmbed=true')}}"
              };
        
              // The following statement instantiates the IframeLoader
              var iframeLoader = new ChatBotUiLoader.IframeLoader(loaderOptions);
        
              // chatbot UI config
              // The loader can also obtain these values from other sources such
              // as a JSON file or events. The configUrl variable in the
              // loaderOptions above can be used to put these config values in a file
              // instead of explicitly passing it as an argument.
              var chatbotUiConfig = {
                ui: {
                  // origin of the parent site where you are including the chatbot UI
                  // set to window.location.origin since hosting on same site
                  parentOrigin: window.location.origin,
                },
                iframe: {
                  // origin hosting the HTML file that will be embedded in the iframe
                  // set to window.location.origin since hosting on same site
                  iframeOrigin: window.location.origin,
                },
                cognito: {
                  // Your Cognito Pool Id - this is required to provide AWS credentials
                  poolId: 'us-east-1:9b59ac2e-4b37-462b-8d3f-ba5613bddbfc'
                },
                lex: {
                  // Lex Bot Name in your account
                  botName: 'AgeX'
                }
              };
        
              // Call the load function which returns a promise that is resolved
              // once the component is loaded or is rejected if there is an error
              iframeLoader.load(chatbotUiConfig)
                .then(function () {
                  console.log('iframe loaded');
                })
                .catch(function (err) {
                  console.error(err);
                });

            </script>    
 
            <!-- modal close button -->
            <a href="" data-modal="#modal" class="modal__trigger">
                <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
            </a>
            
        </div>
    </div>
</div>
</body>
<script  src="{{ url_for('static',filename='styles/script.js') }}"></script>
<script src= "{{ url_for('static',filename='styles/lex-web-ui.js') }}"></script>
<script src= "{{ url_for('static',filename='styles/lex-web-ui-loader.js') }}"></script>
<script src= "{{ url_for('static',filename='styles/lex-web-ui-loader.min.js') }}"></script>
<script src= "{{ url_for('static',filename='styles/lex-web-ui.min.js') }}"></script>
</html>
