@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

#container-vertical{
  font-family: arial;
  display: flex;
  align-items: center;
  height: 100%;
  background: #edecec;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#container-horizontal{
    display: inline;
    width: 100%;
    padding: 10%;
}

#painel-botoes{
  display: flex;
  flex-wrap: wrap;
}
.botao{
  background: #f9f9f9;
  width: 30%;
  flex-grow: 1;
  margin: 10px;
  height: 20vh;
  border-radius: 10px;
  box-shadow: 2px 6px 28px -11px #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.botao:hover{
  box-shadow: 4px 6px 43px -10px #CCC !important;
  position: relative;
  bottom: -2px;
  background: #FFF;
  opacity: 0.6;
  transition: 0.2s;
}

.icone-botao{
  font-size: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}

.nome-botao{
  width: 100%;
  text-align: center;
  background: #ffffff;
  padding: 5px 0px;
  border-radius: inherit;
  box-shadow: 0px -11px 10px -14px #696969;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  font-size: 2vh;
  text-transform: uppercase;
  color: #151515;
}

.b1 {
  color: #00BAc2;
}

.b2 {
  color: #ffb200;
}

.b3 {
  color: #13b509;
}

.b4 {
  color: #ff4747;
}

.b5 {
  color: #8a8787;
}

.b6 {
  color: #cd4dff;
}

.b7 {
  color: #0e0e0e;
}

.b8 {
  color: #3c58c1;
}

.b9 {
  color: #dc6f46;
}